.about {
    padding: 190px 0 200px;

    &__text {
        &-inner {
            display: grid;
            grid-template-rows: repeat(4, minmax(38px, auto));
            grid-template-columns: repeat(2,480px);
            row-gap: 30px;
            column-gap: 120px;
        }
    }
}

