.map {
    margin: 200px auto;
    background-image: url('../img/map-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 640px;
    max-width: 1473px;
}